.wrapper
  = render 'shared/chat-side'
  .chat-main
    .main-header
      .title
        .title__text
          test
        %ul.title__user
          %li.title__user__left
            Member：
          %li.title__user__right
            - @group.users.each do |user|
              = user.name
      = link_to "Edit", new_group_path, class: "edit"
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :body, placeholder: "type a message", class: "body"
          = f.label :image, class: "label" do
            = fa_icon "image"
            = f.file_field :image, class: "image"
        = f.submit "Send", class: "send"

